@import url('https://fonts.googleapis.com/css2?family=Lato&family=Prompt:wght@400;800&family=Roboto:wght@300&display=swap');

@tailwind base;

@layer base {
  html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
  }
  body { 
    @apply bg-[#fff] text-zinc-700;
    min-height: 100%;
  }
  
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  a {
    @apply text-blue-600 underline;
  }
}

@tailwind components;

@layer components {
  .toggle-checkbox:checked {
    @apply right-0 border-green-400;
    right: 0;
    border-color: #68D391;
  }

  .toggle-checkbox:checked + .toggle-label {
    @apply bg-green-400;
    background-color: #68D391;
  }
  .image > span {
    border-radius: 10px;
  }
}

@tailwind utilities;

@layer utilities {
  .btn {
    @apply font-bold rounded-[4px] py-[0.5em] px-[1em];
  }

  .btn-primary {
    @apply bg-[#45b3e7];
  }
  
  .gradient-blue {
    @apply bg-gradient-to-r from-green-400 to-blue-500;
  }
  
  .gradient-orange {
    @apply bg-gradient-to-r from-pink-500 to-yellow-500;
  }
  
  .gradient-hover {
    @apply hover:from-pink-500 hover:to-yellow-500;
  }

  .link {
    text-decoration: none;
    color: white;
  }

  .example-appear {
    opacity: 0.01;
    
  }
  
  .example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
  }
}